$gray-base:                            #000 !default;
$gray-darker:                        lighten($gray-base, 13.5%) !default; // #222
$gray-dark:                            #212121 !default;
$gray:                                     #666 !default;
$gray-light:                         #bbb !default;
$gray-lighter:                     lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:                 #2196F3 !default;
$brand-success:                 #4CAF50 !default;
$brand-info:                        #9C27B0 !default;
$brand-warning:                 #ff9800 !default;
$brand-danger:                    #e51c23 !default;

$padding-base-vertical: 6px;
$padding-large-vertical: 16px;
$padding-base-horizontal: $padding-base-vertical;
$padding-large-horizontal: $padding-large-vertical;

$line-height: 1.846;

$navbar-height: 48px;
$navbar-font-size: 16px;

$footer-height: $navbar-height + 2;

@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css");
@import "mixins";
@import "components/navbar";
@import "components/tree";
@import "components/sidebar";
@import "components/items-grid";
@import "components/loaders";

body {
    background: transparent;
}
* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#app {
    opacity: 0;
    transition: opacity 0.2s;
    &.loaded {
        opacity: 1;
    }
}

#main {
    position: absolute;
    padding-top: $navbar-height;
    padding-bottom: $footer-height;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display: table;
    > div {
        display: table-cell;
        height: 100%;
        overflow-x:hidden;
        overflow-y: auto;
        vertical-align: top;
        &#sidebar {
            background:$gray-lighter;
            width: 250px;
        }
        &#stage {
        }
        &.handle {
            margin-left: -2px;
            height: 100%;
            width: 3px;
            border-left:1px solid darken($gray-lighter, 5%);
            cursor: col-resize;
        }
    }
}

#footer {
    position: absolute;
    height: $footer-height;
    background: lighten($gray-lighter, 5%);
    border-top:1px solid darken($gray-lighter, 5%);
    bottom:0;
    width:100%;
    padding:10px 15px;
    text-align: right;
}
