<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AssetPicker</title>
    <link rel="stylesheet" href="dist/css/main.css">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{t('header.title')}}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <div class="navbar-form navbar-right" role="search">
                    <div class="form-group form-group-sm">
                        <input type="text" class="form-control" v-model="sword" placeholder="Search" debounce="500">
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-md-3 sidebar">
                <storage v-for="(id, storage) in config.storages" :id="id" :storage="storage"></storage>
            </div>
            <items class="col-md-9" :search.sync="sword"></items>
        </div>
    </div>
    <div id="footer">
        <button class="btn btn-sm btn-primary" :disabled="!selection.picked.length">{{t('footer.pick')}}</button>
        <button class="btn btn-sm btn-default" v-on:click="cancel">{{t('footer.cancel')}}</button>
    </div>
</div>

<script src="dist/js/app.min.js"></script>
</body>
</html>
