.assetpicker-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    transition: background 0.2s, z-index 0s 0.2s;
}
.assetpicker-modal.assetpicker-modal-open {
    z-index:3000;
    background: rgba(0, 0, 0, 0.8);
    transition: background 0.2s
}
.assetpicker-modal .assetpicker-modal-inner {
    position: absolute;
    left:30px;
    right:30px;
    top:30px;
    bottom:30px;
    background: #fff;
    opacity: 0;
    transition: opacity 0.1s 0.1s;
    border-radius: 4px;
    overflow: hidden;
}
.assetpicker-modal.assetpicker-modal-open .assetpicker-modal-inner {
    opacity: 1;
}
.assetpicker-modal .assetpicker-modal-inner iframe {
    position: absolute;
    background: transparent;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    overflow: hidden;
    border: none;
}

.assetpicker-loader {
    border: 5px solid gray;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 30px;

    animation: assetpicker-loader-pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
.assetpicker-ready .assetpicker-loader {
    display: none;
    animation: none;
}

@keyframes assetpicker-loader-pulsate {
    0% {
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}