<div class="items-grid">
    <div class="item" v-for="item in items" track-by="id" v-on:dblclick.prevent="openItem(item)">
        <span v-if="item.type === 'dir'" class="glyphicon glyphicon-folder-open"></span>
        <span v-if="item.type !== 'dir'" class="glyphicon glyphicon-file item-ext" data-ext="{{item.extension}}"></span>
        <div v-if="item.thumbnail" class="item-thumbnail" v-bind:style="{backgroundImage: 'url(' + item.thumbnail + ')'}"></div>
        <div>{{item.name}}</div>
    </div>
</div>