<div class="items-grid">
    <item inline-template v-for="item in items | limitBy limit" :item="item" track-by="id">
        <div v-on:click.prevent="select" :title="title" v-on:dblclick.prevent="open" class="item{{selected ? ' selected' : ''}}">
            <div class="item-inner" v-on:contextmenu="contextmenu">
                <div class="item-preview">
                    <span class="file-type file-type-{{item.mediaType}}"></span>
                    <div v-if="item.mediaType.iconBig" class="item-icon" v-bind:style="{backgroundImage: 'url(' + item.mediaType.iconBig + ')'}"></div>
                    <div v-if="item.thumbnail" class="item-thumbnail {{item.mediaType}}" v-bind:style="{backgroundImage: 'url(' + item.thumbnail + ')'}"></div>
                </div>
                <div class="item-title">
                    <span v-if="item.type !== 'dir' && !item.mediaType.icon" class="file-type file-type-{{item.mediaType}}"></span>
                    <img v-if="item.type !== 'dir' && item.mediaType.icon" v-bind:src="item.mediaType.icon"/>
                    {{item.name}}
                </div>
            </div>
        </div>
    </item>
</div>
