<div
    class="items-container"
    v-infinite-scroll="loadMore()"
    infinite-scroll-distance="10"
    infinite-scroll-listen-for-event="items-set">
    <div v-if="selection.search && !storage" class="items-search">
        <template v-for="(storage, items) in selection.results">
            <template v-if="items.length">
                <h5>{{storages[storage].label || storage}}</h5>
                <div :is="layout" v-ref:items :items="items" :storage="storage" :limit="10"></div>
                <span v-if="$refs.items && $refs.items.limit && items.length > $refs.items.limit" v-on:click.prevent="selectStorage(storage)" class="btn btn-link">Show all...</span>
            </template>
        </template>
    </div>
    <div v-if="storage || selection.search">
        <h5 v-if="selection.search">{{storage}}</h5>
        <div :is="layout" :items="selection.items" :storage="storage"></div>
    </div>
    <template v-if="!storage && !selection.search">
        <div v-for="(storage, config) in storages" v-on:click.prevent="$root.$broadcast('select-item', {storage: storage})" class="storage">
            <span class="glyphicon glyphicon-folder-close"></span>
            <h6>{{config.label || storage}}</h6>
            <p class="text-muted">{{$interpolate(t('adapters.' + config.adapter))}}</p>
        </div>
    </template>
</div>
